<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>全国城市天气</title>
</head>
<body>
  <h3>{{ region.name }}</h3>
  <table border="1">
    <thead>
      <tr>
        <td>日期</td>
        <td>天气</td>
        <td>最高温</td>
        <td>最低温</td>
        <td>风向</td>
        <td>风力</td>
      </tr>
    </thead>
    <tbody>
    {% for d in data %}
    <tr>
      <td>{{ d.time }}</td>
      <td>{{ d.day_weather }}</td>
      <td>{{ d.max_degree }}</td>
      <td>{{ d.min_degree }}</td>
      <td>{{ d.day_wind_direction }}</td>
      <td>{{ d.day_wind_power }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>